$bg: rgb(57, 57, 57);
$bgLight: rgb(255, 255, 255, 0.8);
$titleFont: "Staatliches", cursive;
$mainText: "Raleway", sans-serif;
$fontColor: black;
$gridDisplay: grid;
$gap: 10px;
$padSmall: 10px;
$padMed: 20px 80px 20px 80px;
$fullRow: 1 / span 5;
$middleRow: 2 / span 3;
$ulDecor: none;
$paragraphAlign: left;
